<%-include("partials/header")%>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="/">Home</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Register</li>
	</ol>
</nav>

<h1>
	Sign Up
</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="uername">
	<input type="password" name="password" placeholder="password">
	<button>
		Submit
	</button>
</form>

<%-include("partials/footer")%>